.titulo {
  padding: 40px 0 40px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  color: white;
  background-color: #e35f21;
}

.fondo {
  background-color: black;
}

.imgPrincipal {
  width: 60%;
}


.formulario {
  max-width: 50%;
  margin: 0 auto;
  /* text-align: center; */
}

.capitalize {
  text-transform: capitalize;
}

.padding {
  padding: 30px 0 10px 0;
}

.status {
  font-size: 30px;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}